In [22]:
import pandas as pd
weather_data={
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,28,24,32,31],
    'windspeed':[6,7,2,7,4,2],
    'event':['rain','sunny','snow','snow','rain','sunny']
}
df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4   rain
5  1/6/2017           31          2  sunny

In [ ]:
# df=pd.read

In [23]:
df.shape

(6, 4)

In [24]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny

In [25]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   rain
5  1/6/2017           31          2  sunny

In [26]:
df[1:3]

        day  temperature  windspeed  event
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow

In [27]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [28]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [29]:
type(df.day)

pandas.core.series.Series

In [30]:
df[['day','temperature']]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

operations on dataframe

In [31]:
df['temperature'].max()

35

Condition on datarfame

In [32]:
df[df["temperature"]>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
4  1/5/2017           32          4   rain

In [33]:
df[df["temperature"]>=32][['day','temperature']]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
4  1/5/2017           32

In [34]:
df['day'][df['temperature']==df['temperature'].max()]

1    1/2/2017
Name: day, dtype: object

In [36]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000